# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# PyInstaller
build/
dist/
*.spec

# IDEs
.vscode/
.idea/

# Project specific
*.log
arduino_block_editor/library_cache/

# Arduino CLI / Temp
sketch/
temp_*/